.lastInfoBox {
    box-sizing: border-box;
    background-size: 100% auto;
    height: 25vh;
    background-image: url("https://drive.google.com/uc?export=view&id=1RF0NZSvM_ixOurbu_ObXhnByJSWpsU_S");
    transform: perspective(2000px);
    box-shadow:
            -4px 0 25px rgb(0, 0, 0),
            4px 0 25px rgba(255, 213, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: wheat;
    flex-direction: column;
}

.buttonBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}
.myBtn {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    border: 2px solid rgba(246, 246, 246, 0.6);
    border-radius: 20%;
    box-shadow: 0 0 8px rgba(255, 213, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}