.aboutComp {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactsDiv {
    width: 50%;
}


@media screen and (max-width: 1024px){
    .contactsDiv {
        width: 95%;
        margin-bottom: 20px;
    }
    .aboutComp {
        flex-direction: column;
    }
}