.generalBox {
    flex-direction: column;
}
.upperDiv {
    display: flex;
    justify-content: space-around;
    border-bottom: 6px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, #236c7b, #010203) 1;
    padding-bottom: 30px;
}
.lowerDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.infoAboutLocationDiv {
    width: 50%;
    padding: 15px;
}
.mapDiv {
    width: 50%;
}

.btnWidth {
    width: 50%;
}

@media screen and (max-width: 800px){
    .upperDiv {
        flex-direction: column;
    }
    .lowerDiv {
        flex-direction: column;
    }
    .mapDiv {
        width: 100%;
    }
    .infoAboutLocationDiv {
        width: 100%;
    }
}