.MainPageBox{
    background-image: url("https://storage.cloud.google.com/image-stor-my-home3942/Background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: min-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}