.MainPageBox{
    background: hsl(180, 25%, 3%) radial-gradient( hsl(189, 79%, 11%), hsl(180, 25%, 3%));
    height: min-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}