.steps-container {
    width: 80%;
    max-width: 1700px;
    height: min-content;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(to right, rgb(0, 0, 0, 0.8) 50%, rgba(255, 213, 0, 0.5));
    box-shadow: -4px 0 18px rgb(0, 0, 0), 4px 0 18px rgba(255, 213, 0, 0.9);
    border: 10px solid rgba(255, 213, 0);
    position: relative;
}

.step {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 30px;
    opacity: 0;
    padding: 3%;
    width: 80%;
    height: min-content;
    margin: 80px 0;
    font-size: 40px;
    transform: translateX(0px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.step h1 {
    padding: 10px;
    border-bottom: 3px solid #2f2b2b;
}

.step.visible {
    opacity: 1;
    transform: translateX(100px);
    background: #020202;
    color: wheat;
}
.step.visible1 {
    opacity: 1;
    transform: translate(-100px);
    background: rgba(255, 213, 0, 0.9);
}

.numberAndLogoDiv {
    width: 50%;
    height: min-content;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: -6%;
    top: -25%;
    box-shadow: -4px 0 12px rgb(255, 171, 0);
    background: #050505;
    border-radius: 20px;
}
.numberDiv {
    width: 40%;
    height: auto;
    background: rgb(19, 18, 18);
    border-radius: 10px;
    border: 4px solid rgba(255, 213, 0, 0.7);
    display: flex;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    color: wheat;
    top: 0;
    left: 0;
}

.numberAndLogoDiv img {
    width: 30%;
    max-width: 300px;
    height: auto;
    border-radius: 70px;
}