.dirColumn {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.headerDiv {
    background: black;
    box-shadow: -1px 0 8px rgb(255, 171, 0);
    padding: 10px 20px;
    border-radius: 10px;
}

.steps-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.step {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 30px;
    opacity: 0;
    padding: 3%;
    width: 80%;
    height: min-content;
    margin: 80px 0;
    font-size: 40px;
    transform: translateX(0px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.step h1 {
    width: 60%;
    padding: 10px;
    border-bottom: 3px solid #2f2b2b;
}

.step.visible {
    opacity: 1;
    transform: translateX(100px);
    background: #020202;
    color: wheat;
}
.step.visible1 {
    opacity: 1;
    transform: translate(-100px);
    background: rgba(255, 213, 0, 0.9);
}

.step:nth-child(1) .numberAndLogoDiv {
    left: -10%;
    top: -20%;
}

.step:nth-child(2) .numberAndLogoDiv {
    right: -10%;
    top: -10%;
}
.step:nth-child(2) {
   align-items: flex-start;
}

.step:nth-child(3) .numberAndLogoDiv {
    left: -10%;
    top: -10%;
}

.numberAndLogoDiv {
    width: 50%;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 0 8px rgb(255, 171, 0);
    background: #000000;
    border-radius: 20px;
}
.numberDiv {
    width: 40%;
    height: auto;
    background: rgb(19, 18, 18);
    border-radius: 10px;
    border: 4px solid rgba(255, 213, 0, 0.7);
    display: flex;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    color: wheat;
    top: 0;
    left: 0;
}

.numberAndLogoDiv img {
    width: 30%;
    max-width: 300px;
    height: 98%;
    border-radius: 10px;
}


@media screen and (max-width: 1920px){
    .step:nth-child(1) .numberAndLogoDiv {
        left: -10%;
        top: -15%;
    }

    .step:nth-child(2) .numberAndLogoDiv {
        right: -10%;
        top: -5%;
    }

    .step:nth-child(3) .numberAndLogoDiv {
        left: -10%;
        top: -5%;
    }
    .step {
        margin: 40px 0;
    }
    .numberDiv {
        font-size: 35px;
    }
    .numberAndLogoDiv {
        width: 40%;
        height: 150px;
    }
}

@media screen and (max-width: 1500px){
    .numberDiv {
        font-size: 30px;
    }
    .numberAndLogoDiv {
        height: 100px;
    }
}

@media screen and (max-width: 1024px){
    .steps-container {
        margin-top: 40px;
    }
    .step {
        padding: 2%;
        margin: 30px 0;
    }
    .step:nth-child(2) {
        margin-top: 5px;
    }
    .numberDiv {
        font-size: 20px;
    }
    .numberAndLogoDiv {
        width: 230px;
        height: 80px;
    }
    .step.visible {
        transform: translateX(50px);

    }
    .step.visible1 {
        transform: translateX(-50px);
    }
    .step:nth-child(2) .numberAndLogoDiv {
        right: -5%;
    }
    .numberDiv {
        border: 2px solid rgba(255, 213, 0, 0.7);
    }
    .step:nth-child(3) .numberAndLogoDiv {
        left: -5%;
    }
    .step:nth-child(1) .numberAndLogoDiv {
        left: -5%;
    }
}
@media screen and (max-width: 800px){
    .numberAndLogoDiv {
        width: 40%;
        height: 70px;
    }
}


@media screen and (max-width: 599px){
    .steps-container {
        margin-top: 40px;
    }
    .step:nth-child(1) .numberAndLogoDiv {
        left: -3%;
        top: -2%;
    }

    .step:nth-child(2) .numberAndLogoDiv {
        right: -3%;
    }
    .step:nth-child(2) {
        margin-top: 20px;
    }

    .step:nth-child(3) .numberAndLogoDiv {
        left: -3%;
        top: -2%;
    }
    .step {
        font-size: 13px;
        padding: 3%;
    }
    .step h1 {
        font-size: 27px;
    }
    .numberDiv {
        width: 80%;
        font-size: 12px;
        position: absolute;
        top: -15%;
        left: 9%;
    }
    .numberAndLogoDiv {
        width: 110px;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        padding-top: 5px;
    }
    .numberAndLogoDiv img {
        width: 50%;
        height: 60px;
    }
}

@media screen and (max-width: 399px){
    .numberAndLogoDiv {
        width: 100px;
        height: 75px;
    }
    .numberAndLogoDiv img {
        width: 50%;
        height: 60px;
    }
    .step {
        padding: 4%;
        margin: 20px 0;
    }
    .step h1 {
        font-size: 25px;
        padding:0 0 5px 0;
    }
    .numberDiv {
        width: 80%;
        font-size: 11px;
    }
    .headerDiv {
        padding: 5px 10px;
    }
    .step.visible {
        transform: translateX(40px);

    }
    .step.visible1 {
        transform: translateX(-40px);
    }
}