
.mainBgDiv {
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mainBox {
    width: 90%;
    max-width: 1700px;
    height: min-content;
    padding: 3%;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    background: linear-gradient(to right, rgb(0, 0, 0, 0.8) 50%, rgba(255, 213, 0, 0.5));
    box-shadow: -4px 0 18px rgb(0, 0, 0), 4px 0 18px rgba(255, 213, 0, 0.9);
    border: 10px solid rgba(255, 213, 0);
    position: relative;
}
.header1 {
    font-size: 70px;
    font-family: Inter, serif;
}
.header2 {
    font-size: 35px;
}

.text1 {
    font-size: 25px;
    margin-top: 16px;
}
.text2 {
    font-weight: bold;
}

.myBtnConfigs {
    margin-top: 40px;
    width: 40%;
    height: 70px;
    background: rgba(255, 213, 0, 0.9);
    color: #020202;
    font-size: 30px;
    border: 4px solid rgb(2, 2, 2, 0.9);
    box-shadow: -4px 0 18px rgb(0, 0, 0), 4px 0 18px rgb(187, 162, 3);
    border-radius: 10px;
    font-weight: bold;
    z-index: 9;
}

.myBtnConfigs:hover {
    background-color: #45a049;
    border: 4px solid rgba(112, 76, 2, 0.9);
}
.imgDiv {
    width: 49%;
}

.imgDiv img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    left: 0;
    top: 0;
}

@media screen and (max-width: 1700px){
    .header1 {
        font-size: 60px;
    }
    .header2 {
        font-size: 25px;
    }
    .text1 {
        font-size: 20px;
    }
    .myBtnConfigs {
        font-size: 25px;
    }
}
@media screen and (max-width: 1500px){
    .header1 {
        font-size: 50px;
    }
    .text1 {
        font-size: 18px;
    }
    .myBtnConfigs {
        font-size: 20px;
        height: 50px;
        width: 42%;
    }
}

@media screen and (max-width: 1024px){
    .header1 {
        font-size: 40px;
    }
    .header2 {
        font-size: 18px;
    }
    .text1 {
        font-size: 18px;
        margin-top: 10px;
    }
    .myBtnConfigs {
        font-size: 15px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 800px){
    .mainBgDiv {
        margin-top: 80px;
    }
    .mainBox {
        flex-direction: column;
    }
    .header1 {
        font-size: 35px;
    }
    .text1 {
        margin-top: 0;
    }

    .text2 {
        margin: 10px 0 10px 0;
    }
    .myBtnConfigs {
        width: 50%;
    }
    .imgDiv {
        width: 100%;
        padding-top: 20px;
    }
}

@media screen and (max-width: 550px){
    .myBtnConfigs {
        font-size: 13px;
    }
}
@media screen and (max-width: 435px){
    .mainBox {
        width: 420px;
    }
}

@media screen and (max-width: 380px){
    .mainBox {
        width: 345px;
    }
}

@media screen and (max-width: 330px){
    .mainBox {
        padding: 6px;
    }
}