.mainBoxHeader {
    box-sizing: border-box;
    background-image: url("/public/Header.png");
    background-size: 100%;
    color: #020202;
    width: 100%;
    height: 7%;
    box-shadow:
            -4px 0 18px rgb(0, 0, 0),
            4px 0 18px rgba(255, 213, 0, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logoHeader {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader img{
    width: 65%;
    height: 99%;
}

.myBtnInHeader {
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    border: 2px solid rgba(246, 246, 246, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(255, 213, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonBoxInHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 60%;
}

.compInfo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.compInfo span {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 26px;
    color: #020202;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}