.mainBoxHeader {
    box-sizing: border-box;
    background-image: url("https://storage.googleapis.com/image-stor-my-home3942/Header.png");
    background-size: 100%;
    color: #020202;
    width: 100%;
    height: 90px;
    box-shadow:
            -4px 0 18px rgb(0, 0, 0),
            4px 0 18px rgba(255, 213, 0, 0.9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logoHeader {
    width: 33%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader img{
    width: 300px;
    height: 100%;
    cursor: pointer;
}

.myBtnInHeader {
    box-sizing: border-box;
    width: 15%;
    height: min-content;
    margin: 10px;
    border: 2px solid rgba(246, 246, 246, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(255, 213, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 50px;
}
.buttonBoxInHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.compInfo {
    width: 33%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
}

.compInfo a {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-size: 23px;
    color: #020202;
    font-weight: bold;
    background: rgba(255, 213, 0, 0.9);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
}

.compInfo a:hover {
    background-color: #45a049;
    border: 2px solid rgba(112, 76, 2, 0.9);
}

.btn-show-modal {
    cursor: pointer;
    font-size: 20px;
    background: rgba(255, 213, 0, 0.9);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
}
.btn-show-modal:hover {
    background-color: #45a049;
    border: 2px solid rgba(112, 76, 2, 0.9);
}

@media screen and (max-width: 2150px) {
    .compInfo a {
        width: 80%;
        font-size: 20px;
    }
    .logoHeader img{
        width: 250px;
    }
}

@media screen and (max-width: 1440px) {
    .compInfo a {
        width: 95%;
        font-size: 16px;
    }
    .mainBoxHeader {
        height: 80px;
    }
    .logoHeader img{
        width: 200px;
    }
    .icon {
        font-size: 30px;
    }
}
@media screen and (max-width: 999px) {
    .compInfo a {
        width: 100%;
        font-size: 13px;
        padding: 1px;
        border: 1px solid black;;
    }
    .mainBoxHeader {
        height: 60px;
    }
    .icon {
        font-size: 20px;
    }
    .logoHeader img{
        width: 150px;
    }
}

@media screen and (max-width: 799px) {
    .compInfo a {
        width: 120%;
        font-size: 12px;
    }
    /*.mainBoxHeader {*/
    /*    height: 50px;*/
    /*}*/
    .myBtnInHeader {
        margin: 5px;
    }
    .icon {
        font-size: 15px;
    }
    .compInfo {
        padding-right: 10px;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 599px) {
    .compInfo a {
        font-size: 9px;
    }
    .compInfo {
        justify-content: space-around;
        padding-right: 5px;
    }
    .icon {
        font-size: 10px;
    }
    .myBtnInHeader {
        margin: 2px;
    }
    .logoHeader img{
        width: 120px;
        height: 85%;
    }
}

@media screen and (max-width: 410px) {
    .logoHeader img{
        width: 100px;
        height: 69%;
    }
}