.lastInfoBox {
    box-sizing: border-box;
    background-size: 100% auto;
    height: 320px;
    /*background: hsl(189, 72%, 14%) radial-gradient( hsl(180, 25%, 3%), hsl(189, 72%, 14%));*/
    /*background: hsl(180, 25%, 3%) radial-gradient( hsl(189, 73%, 25%), hsl(180, 25%, 3%));*/
    background: linear-gradient(0deg, black, rgba(1, 85, 94, 0.98), black);
    transform: perspective(2000px);
    box-shadow: -4px 0 25px rgb(0, 0, 0),
    4px 0 25px rgba(14, 13, 9, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 25px;
    border-top: 2px solid black;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 90%;
}

.myBtn {
    box-sizing: border-box;
    width: 15%;
    height: min-content;
    margin: 10px;
    border: 2px solid rgba(246, 246, 246, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastIcon {
    font-size: 50px;
}

.lastCompInfo {
    width: 33%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.lastCompInfo a {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #020202;
    font-weight: bold;
    background: rgba(255, 213, 0, 0.9);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
}

.lastCompInfo a:hover {
    background-color: #45a049;
    border: 2px solid rgba(112, 76, 2, 0.9);
}

@media screen and (max-width: 1920px) {
    .lastInfoBox {
        height: 270px;
    }
    .lastCompInfo a {
        font-size: 25px;
    }
}
@media screen and (max-width: 1800px) {
    .lastInfoBox {
        height: 250px;
        padding: 15px;
    }
    .lastCompInfo a {
        font-size: 20px;
    }
    .lastIcon {
        font-size: 40px;
    }
}
@media screen and (max-width: 1550px) {
    .lastIcon {
        font-size: 30px;
    }
    .lastInfoBox {
        height: 200px;
        padding: 15px;
    }
}
@media screen and (max-width: 1250px) {
    .lastCompInfo a {
        width: 100%;
        font-size: 18px;
    }
    .lastInfoBox {
        height: 150px;
        padding: 10px;
    }
}
@media screen and (max-width: 999px) {
    .lastCompInfo a {
        width: 330px;
    }
    .lastIcon {
        font-size: 25px;
    }
}
@media screen and (max-width: 850px) {
    .lastIcon {
        font-size: 20px;
    }
    .lastCompInfo a {
        width: 250px;
        font-size: 12px;
    }
    .myBtn {
        margin: 5px;
        padding: 2px;
        width: 20%;
    }
}
/*@media screen and (max-width: 500px) {*/
/*    .lastInfoBox {*/
/*        height: 90px;*/
/*    }*/
/*    .lastCompInfo a {*/
/*        width: 180px;*/
/*        font-size: 9px;*/
/*    }*/
/*    .lastIcon {*/
/*        font-size: 13px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 360px) {*/
/*    .lastInfoBox {*/
/*        height: 80px;*/
/*    }*/
/*    .lastCompInfo a {*/
/*        width: 160px;*/
/*        font-size: 8px;*/
/*    }*/
/*    .lastIcon {*/
/*        font-size: 12px;*/
/*    }*/
/*}*/